@import '@fontsource/fira-mono';

:root {
	/*Font*/
	--font: Inter;

	/*Font size*/
	--header: 32px;

	--title-l: 28px;
	--title-m: 24px;
	--title-s: 20px;

	--body: 16px;

	/*Colors*/
	--primary-600: #2E3440;
	--primary-500: #3B4252;
	--primary-400: #434C5E;

	--secondary-600: #5E81AC;
	--secondary-500: #81A1C1;


	--greyscale-600: #D8DEE9;
	--greyscale-500: #E5E9F0;
	--greyscale-400: #ECEFF4;
	--greyscale-diffused: rgba(229, 233, 240, 0.20);

	/*Other constants*/
	--border-radius: 8px;
}

body {
	margin: 0;
}